.footer {
  margin-top: 6%;
  background-color: black;
  height: 35vh;
  width: 100%;
  display: table;
  .footer-content {
    display: table-cell;
    vertical-align: middle;
    .hr {
      width: 100vw;
      height: 0.05vw;
      background-color: white;
    }
    .footer-row {
      margin-left: 4.5%;
      margin-bottom: 4.5%;
      margin-top: 4.5%;
      width: 90%;
      .footer-text {
        color: white;
        display: inline-block;
        h4 {
          font-size: 1.5vw;
        }
        ul {
          display: inline;
          list-style: none;
          li {
            margin-bottom: 1vw;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
              opacity: 0.8;
            }
            .icon {
              font-size: 1.3vw;
              margin-right: 0.5vw;
            }
          }
          .footer-input {
            padding: 0.6vw 1vw 0.6vw 1vw;
            border-radius: 0px;
            background-color: black;
            color: white;
            margin-top: 0.2vw;
          }
          .footer-btn {
            background-color: white;
            border-radius: 0px;
            margin-top: 0.2vw;
            color: black;
            border: white;
            font-weight: bold;
            padding: 0.6vw 1.5vw 0.6vw 1.5vw;
          }
        }
      }
    }
    .foot-low {
      margin-left: 4.5%;
      margin-bottom: 0.5%;
      margin-top: 1.5%;
      width: 90%;
      .icon-group {
        margin-left: -2.2%;
        ul {
          li {
            list-style: none;
            display: inline;
            border-radius: 50%;
            background-color: white;
            padding: 0.5vw;

            margin-right: 1.3vw;
            transition: all 0.3s ease;
            .icon {
              color: #000;
              font-size: 1vw;
              margin-bottom: 0.1vw;
            }
            &:hover {
              cursor: pointer;
              background-color: rgb(223, 223, 223);
              transition: all 0.3s ease;
              transform: translate(0px, -9px);
            }
          }
        }
      }
      .copy {
        p {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    margin-top: 6%;
    background-color: black;
    height: 35vh;
    width: 100%;
    display: table;
    .footer-content {
      display: table-cell;
      vertical-align: middle;
      .hr {
        width: 100vw;
        height: 0.05vw;
        background-color: white;
      }
      .footer-row {
        margin-left: 4.5%;
        margin-bottom: 4.5%;
        margin-top: 4.5%;
        width: 90%;
        .footer-text {
          color: white;
          display: inline-block;
          h4 {
            font-size: 2vw;
          }
          ul {
            display: inline;
            list-style: none;
            li {
              margin-bottom: 1vw;
              font-size: 1.5vw;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
                opacity: 0.8;
              }
              .icon {
                font-size: 1.5vw;
                margin-right: 0.5vw;
              }
            }
            .footer-input {
              padding: 0.6vw 1vw 0.6vw 1vw;
              border-radius: 0px;
              background-color: black;
              color: white;
              margin-top: 0.2vw;
              font-size: 1.5vw;
            }
            .footer-btn {
              background-color: white;
              border-radius: 0px;
              margin-top: 0.2vw;
              color: black;
              border: white;
              font-weight: bold;
              font-size: 1.5vw;
              padding: 0.6vw 1.5vw 0.6vw 1.5vw;
            }
          }
        }
      }
      .foot-low {
        margin-left: 4.5%;
        margin-bottom: 0.5%;
        margin-top: 1.5%;
        width: 90%;
        .icon-group {
          margin-left: -2.2%;
          ul {
            li {
              list-style: none;
              display: inline;
              border-radius: 50%;
              background-color: white;
              padding: 0.5vw;

              margin-right: 1.3vw;
              transition: all 0.3s ease;
              .icon {
                color: #000;
                font-size: 1vw;
                margin-bottom: 0.1vw;
              }
              &:hover {
                cursor: pointer;
                background-color: rgb(223, 223, 223);
                transition: all 0.3s ease;
                transform: translate(0px, -9px);
              }
            }
          }
        }
        .copy {
          p {
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  .footer {
    margin-top: 7%;
    background-color: black;
    height: 35vh;
    width: 100%;
    display: table;
    .footer-content {
      display: table-cell;
      vertical-align: middle;
      .hr {
        width: 100vw;
        height: 0.08vw;
        background-color: white;
      }
      .footer-row {
        margin-left: 4.5%;
        margin-bottom: 4.5%;
        margin-top: 4.5%;
        width: 100%;
        .footer-text {
          color: white;
          display: inline-block;
          margin-bottom: 5vw;
          h4 {
            font-weight: bold;
            font-size: calc(0.6rem + 0.2vw);
            margin-bottom: -4.5vw;
            margin-top: 1vw;
          }
          ul {
            margin-bottom: 5vw;
            display: inline;
            list-style: none;
            li {
              margin-bottom: 0.5vw;
              font-size: calc(0.4rem + 0.2vw);
              text-decoration: none;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
                opacity: 0.8;
              }
              .icon {
                font-size: calc(0.4rem + 0.2vw);
                margin-right: 0.5vw;
              }
            }
            .footer-input {
              width: 20vw;
              padding: 0.6vw 1vw 0.6vw 1vw;
              border-radius: 0px;
              background-color: black;
              color: white;
              margin-top: 0.2vw;
              font-size: 1.5vw;
            }
            .footer-btn {
              background-color: white;
              border-radius: 0px;
              margin-top: 0.2vw;
              color: black;
              border: white;
              font-weight: bold;
              font-size: 1.5vw;
              padding: 0.6vw 1.5vw 0.6vw 1.5vw;
            }
          }
        }
      }
      .foot-low {
        margin-left: 4.5%;
        margin-bottom: -6%;
        margin-top: 5%;
        width: 90%;
        .icon-group {
          margin-left: -2.2%;
          ul {
            li {
              list-style: none;
              display: inline;
              border-radius: 50%;
              background-color: white;
              padding: 0.5vw;

              margin-right: 1.3vw;
              transition: all 0.3s ease;
              .icon {
                color: #000;
                font-size: 1vw;
                margin-bottom: 0.1vw;
              }
              &:hover {
                cursor: pointer;
                background-color: rgb(223, 223, 223);
                transition: all 0.3s ease;
                transform: translate(0px, -9px);
              }
            }
          }
        }
        .copy {
          p {
            align-self: center;
            margin-top: 1.5%;
            font-size: calc(0.4rem + 0.2vw);
            color: white;
          }
        }
      }
    }
  }
}
