@import "./homepage/sup";
@import "./homepage/box";
@import "./homepage/cur";
@import "./homepage/about";
@import "./homepage/home";
@import "./aboutpage/topabout";
@import "./aboutpage/about-ex";
@import "./aboutpage/about-our";
@import "./curpage/topcur";
@import "./curpage/cur-list";
@import "./resourcepage/resource";
@import "./contactpage/contact";
@import "nav";
@import "nav-sm";
@import "footer";

* {
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* White background */
    opacity: 0; /* Start with opacity 0 */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    z-index: 9999; /* Ensure loader is on top of everything */
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    transition: all 0.3s ease;
    background: #ffffff;
    cursor: pointer;
  }

  scroll-behavior: smooth;
  font-family: "Inter";

  margin: 0;
  padding: 0;
}
