.active {
  color: black !important;
  transition: all 0.3s ease;
  //font-weight: 600 !important;
}
nav {
  position: fixed;
  display: flex;

  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 1;
  width: 100%;

  top: 0;

  margin-top: 1.7%;
  position: fixed;
  top: 0;
  .nav2 {
    color: black;
    text-align: center;
    border-radius: 2vw;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    padding: 1vw;
    justify-content: center;

    li {
      font-size: 1vw;
      color: #00000057;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transition: all 0.2s;
        cursor: pointer;
        color: black !important;
        font-weight: 600;
        transform: translate(0, -5px);
      }
    }
  }
  transition: all 0.3s ease;
}

nav.nav-bar--hidden {
  margin-top: 1.5%;
  transition: all 0.3s ease;
  transform: translateY(-10%);
}
