.top-out {
  width: 100vw;
  margin-bottom: -4%;
  height: 75vh;
  display: table;
  padding: 0.8vw;
  .top-bg {
    display: table-cell;
    background-image: url("../assets/sup2.jpg");
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vw;
    transition: all 1s;

    .top-upper {
      .nav-brand {
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
          transition: all 0.3s ease;
        }
        img {
          margin-top: 18%;
          margin-left: 32%;
          width: 110%;
        }
        h1 {
          color: white;
          font-weight: bold;
        }
      }
    }
    .top-lower3 {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      .top-text {
        padding: 1vw;

        .t {
          margin-bottom: 13%;

          .t2 {
            --animate-duration: 1400ms;
            --animate-delay: 0.9s;
            padding-left: 1%;
            padding-right: 2%;
            width: 38%;
          }
          h1 {
            border-top-right-radius: 2vw;
            background-color: white;
            font-size: 6.5vw;
          }
        }
      }
    }
  }
}

.exp2 {
  height: 100vh;
  width: 100vw;
  display: table;
  .exp-content {
    display: table-cell;
    vertical-align: middle;
    padding: 3vw;

    h1 {
      margin-top: 7%;
      font-weight: 700;
      font-size: 4.5vw;
      color: #000;
    }
    p {
      align-self: center;
      font-size: 1.7vw;
      font-weight: 300;
      line-height: 3.8vw;
    }
    .image-row {
      .image-card {
        img {
          width: 75%;
          height: 16vw;
          border-radius: 2vw;
          opacity: 0.9;
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            opacity: 1;
            transition: all 0.3s ease;
            transform: translate(0px, -2px);
          }
        }
        p {
          margin-top: 2%;
          font-size: larger;
          font-weight: 400;
          line-height: 2vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .top-out {
    width: 100vw;
    margin-bottom: -4%;
    height: 75vh;
    display: table;
    padding: 0.8vw;
    .top-bg {
      display: table-cell;
      background-image: url("../assets/sup2.jpg");
      overflow-x: hidden;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2vw;
      transition: all 1s;

      .top-upper {
        .nav-brand {
          transition: all 0.3s ease;
          display: none;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
            transition: all 0.3s ease;
          }
          img {
            margin-top: 18%;
            margin-left: 32%;
            width: 110%;
          }
          h1 {
            color: white;
            font-weight: bold;
          }
        }
      }
      .top-lower3 {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        .top-text {
          padding: 1vw;

          .t {
            margin-bottom: 13%;

            .t2 {
              --animate-duration: 1400ms;
              --animate-delay: 0.9s;
              padding-left: 1%;
              padding-right: 2%;
              width: 38%;
            }
            h1 {
              border-top-right-radius: 2vw;
              background-color: white;
              font-size: 6.5vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .exp2 {
    height: 100vh;
    width: 100vw;
    display: table;
    .exp-content {
      display: table-cell;
      vertical-align: middle;
      padding: 3vw;

      h1 {
        margin-top: 7%;
        font-weight: 700;
        font-size: 5vw;
        color: #000;
      }
      p {
        align-self: center;
        font-size: 1.7vw;
        font-weight: 300;
        line-height: 3.8vw;
      }
      .image-row {
        .image-card {
          img {
            width: 75%;
            height: 16vw;
            border-radius: 2vw;
            opacity: 0.9;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
          p {
            margin-top: 2%;
            font-size: 2vw;
            font-weight: 400;
            line-height: 3vw;
          }
        }
      }
    }
  }
}
