.about-container {
  height: 100%;
  margin: 11vw 8vw;
  display: table;
  .about-content {
    width: 100%;
    display: flex;
    // transform: translateY(25%);
    vertical-align: middle;
    position: relative;

    .left {
      width: 50%;
      img {
        border-radius: 1.5vw;
        width: 85%;
        position: relative;
      }
      .box-section {
        margin-top: 1.1vw;
        display: flex;
        width: 85%;
        height: calc(6vw + 5rem);
        .box-pink {
          padding: 1.5vw;
          width: 100%;
          border-radius: 1.5vw;
          background-color: #ffd3fb;
          margin-right: 1.1vw;

          .top {
            h4 {
              font-size: 1.2vw;
            }
            .icon-bg {
              margin-top: -3%;
              background-color: white;
              display: inline;
              padding: 0.55vw;
              border-radius: 50%;
              transition: all 0.3s ease;
              .icon {
                font-size: 1.45vw;
                rotate: -42deg;
                color: black;
              }
              &:hover {
                cursor: pointer;
                transition: all 0.5s ease;
                transform: translate(2px, -2px);
              }
            }
          }
          p {
            width: 85%;
            font-size: 0.8vw;
          }
        }
        .box-blue {
          padding: 1.5vw;
          border-radius: 1.5vw;
          width: 70%;
          background-color: #e5e9f8;
          color: white;
          display: inline;
          h4 {
            font-size: 0.9vw;
            background-color: rgb(235, 239, 254);
            display: inline;
            padding: 0.4vw 0.8vw;
            border-radius: 1vw;
          }
          p {
            font-size: 0.8vw;
          }
        }
      }
    }
    .right {
      width: 50%;
      .content {
        width: 80%;
        h1 {
          font-size: 3.6vw;
          font-weight: 700;
        }
        p {
          font-size: 1.4vw;
          width: 100%;
          line-height: 3.2vw;
          margin-bottom: 6%;
        }
        .btn-group {
          float: left;
          .learn-btn {
            background-color: black;
            color: white;
            padding: 0.7vw 2.1vw;
            border-radius: 2vw;
            font-size: 0.9vw;
            border: 1px solid black;
            transition: all 0.3s ease;
            &:hover {
              color: rgb(0, 0, 0);
              background-color: rgb(255, 255, 255);
              border: 1px solid black;
              transition: all 0.3s ease;
              transform: translate(0px, -3px);
            }
          }
          .view-btn {
            padding: 0.7vw 0.8vw;
            border-radius: 2vw;
            font-size: 0.9vw;
            align-items: center;
            display: inline-flex;
            background-color: white;
            border: 1px solid black;
            color: black;
            transition: all 0.3s ease;
            .dot {
              display: inline;
              height: 0.32vw;
              width: 0.32vw;
              background-color: #000000;
              border-radius: 100%;
              margin-left: 3vw;
            }
            &:hover {
              background-color: black;
              color: white;
              transition: all 0.3s ease;
              transform: translate(0px, -3px);
              .dot {
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .about-container {
    height: 100%;
    margin: 11vw 8vw;
    display: table;
    .about-content {
      width: 100%;
      display: block;
      // transform: translateY(25%);
      vertical-align: middle;
      position: relative;

      .left {
        width: 100%;
        img {
          border-radius: 3vw;
          width: 85%;
          margin: auto;
        }
        .box-section {
          margin-top: 1.1vw;
          display: none;
          width: 100%;
          height: calc(6vw + 5rem);
          .box-pink {
            padding: 1.5vw;
            width: 100%;
            border-radius: 1.5vw;
            background-color: #ffd3fb;
            margin-right: 1.1vw;

            .top {
              h4 {
                font-size: 1.2vw;
              }
              .icon-bg {
                margin-top: -3%;
                background-color: white;
                display: inline;
                padding: 0.55vw;
                border-radius: 50%;
                transition: all 0.3s ease;
                .icon {
                  font-size: 1.45vw;
                  rotate: -42deg;
                  color: black;
                }
                &:hover {
                  cursor: pointer;
                  transition: all 0.5s ease;
                  transform: translate(2px, -2px);
                }
              }
            }
            p {
              width: 85%;
              font-size: 0.8vw;
            }
          }
          .box-blue {
            padding: 1.5vw;
            border-radius: 1.5vw;
            width: 70%;
            background-color: #e5e9f8;
            color: white;
            display: inline;
            h4 {
              font-size: 0.9vw;
              background-color: rgb(235, 239, 254);
              display: inline;
              padding: 0.4vw 0.8vw;
              border-radius: 1vw;
            }
            p {
              font-size: 0.8vw;
            }
          }
        }
      }
      .right {
        width: 100%;

        text-align: center;
        .content {
          width: 100%;
          h1 {
            margin-top: 4vw;
            font-size: 7vw;
            font-weight: 700;
          }
          p {
            font-size: 3vw;
            width: 85%;
            margin: auto;
            line-height: 6vw;
            margin-bottom: 6%;
          }
          .btn-group {
            float: none;

            .learn-btn {
              background-color: black;
              color: white;
              padding: 0.7vw 2.1vw;

              border-radius: 3vw;
              font-size: 2.5vw;
              border: 1px solid black;
              transition: all 0.3s ease;
              &:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);
                border: 1px solid black;
                transition: all 0.3s ease;
                transform: translate(0px, -3px);
              }
            }
            .view-btn {
              padding: 0.7vw 1vw;
              border-radius: 3vw;
              font-size: 2.5vw;
              align-items: center;
              display: inline-flex;
              background-color: white;
              border: 1px solid black;
              color: black;
              transition: all 0.3s ease;
              .dot {
                display: inline;
                height: 0.7vw;
                width: 0.7vw;
                background-color: #000000;
                border-radius: 100%;
                margin-left: 3vw;
              }
              &:hover {
                background-color: black;
                color: white;
                transition: all 0.3s ease;
                transform: translate(0px, -3px);
                .dot {
                  background-color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
