.cur-container {
  padding: 0.9vw;
  height: 58vh;
  width: 100%;
  .cur-bg-img {
    background-image: url("../../assets/home.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.8vw;
    height: 100%;
    width: 100%;
    .top-section {
      .top-logo {
        padding: 1.2svw 2.3vw;
        img {
          width: 7.8vw;
        }
      }
    }
    .bottom-section {
      width: 100%;
      height: 100%;
      position: relative;
      .bottom-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        margin: 0px auto 4.5vw auto;
        h1 {
          font-size: 5.7vw;
          display: flex;
        }
        span {
          padding-right: 2vw;
          border-top-right-radius: 2vw;
          background-color: white;
        }
      }
    }
  }
}
